@import "tailwindcss";

@font-face {
  font-family: "poppins_bold";
  src: url(../public/fonts/Poppins-Bold.ttf);
  src: url(../public/fonts/Poppins-Bold.woff2);
}
@font-face {
  font-family: "poppins_regular";
  src: url(../public/fonts/Poppins-Regular.ttf);
  src: url(../public/fonts/Poppins-Regular.woff2);
}
@font-face {
  font-family: "poppins_light";
  src: url(../public/fonts/Poppins-Light.ttf);
  src: url(../public/fonts/Poppins-Light.woff2);
}
@font-face {
  font-family: "poppins_medium";
  src: url(../public/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins_semibold";
  src: url(../public/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "bangoli-a";
  src: url(../public/fonts/NotoSansBengali-Medium.ttf);
}
@font-face {
  font-family: "bangoli-b";
  src: url(../public/fonts/NotoSansBengali-Regular.ttf);
}

@theme {
  --font-poppins-regular: poppins_regular;
  --font-poppins-light: poppins_light;
  --font-poppins-bold: poppins_bold;
  --font-poppins-medium: poppins_medium;
  --font-poppins-semibold: poppins_semibold;
  --font-bangoli-a: bangoli-a;
  --font-bangoli-b: bangoli-b;

  --color-primary: #fff;
  --color-secondary: #f2f2f2;
  --color-rich-black: #010b13;
  --color-orange: #f37121;
  --color-orange-light: #ee9a30;
}


